.SSPBWidgetCard {
    border: 1px solid black;
    width: 28rem;
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    
}


.SSPBWidgetCard .SSPBWidgetCard__header h1 { 
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
}




.recharts-legend-wrapper{
    position: relative !important;
    height: 50px;
    padding-bottom: 10px;
}


.SSPBWidgetCard__selectMenu{
   /* padding-right: 8px 0px 10px 0px; */
   float: right; 
   /* border: solid; */
   /* padding-bottom: 10px; */
   position: relative;
   bottom: 10px;
   padding-right: 10px;
}

