.SSPBWidgetCard {
  border: 1px solid #016669;
  width: 28rem !important;
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  background-color: #dbe9ea;
}

.SSPBWidgetCard .SSPBWidgetCard__header h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 2px 2px 5px;
  padding: 8px 8px 8px 8px;
}

.recharts-legend-wrapper {
  position: relative !important;
  height: 50px;
  padding-bottom: 10px;
}

.SSPBWidgetCard__selectMenu {
  float: right;

  position: relative;
  bottom: 10px;
  padding-right: 10px;
}

.SSPBWidgetCard .SSPBWidgetCTA {
  height: 20rem;
}

.SSPBWidgetCard .SSPBWidgetCTA_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 23%;
  max-width: 280px;
  left: 85px;
}

.SSPBWidgetCard .SSPBWidgetCohorttable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  max-height: 20rem;
  overflow-y: auto;
}

.SSPBWidgetCard .SSPBWidgetCohorttable button {
  border-radius: 10px;
  height: 2rem;
  margin-top: 10px;
}

.SSPBWidgetCohorttable h3 {
  font-weight: 100;
  font-size: 15px;
}

.SSPBWidgetCard .SSPBMetricWidget {
  height: 20rem;
}

.SSPBWidgetCard .SSPBMetricCopy {
  font-size: 15px;
  position: relative;
  top: 15rem;
  justify-content: center;
  white-space: nowrap;
  left: 3rem;
}

.SSPBWidgetCard .SSPBMetricValue {
  font-size: 140px;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 40%;
  top: 10%;
}
