/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.row{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  margin-left: 20px;
  border: solid;
}

.row1{
  display: flex;
  flex-direction: row;
   
  align-items: center;
  margin: 20px; 
  border: solid;
  
}


.card{
  margin-right: 20px;
}



.barkey{
  border: solid;
}

.CTA{

  top: 30px;
  position: relative;
  margin-left: 90px;
  justify-content: center;
} */



/* Default styles for all screen sizes */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  /* margin-left: 1%; */
  border: solid;
  right: 20px;
  margin-top: 30px; 
  justify-content: space-between;
  
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  /* margin-left: 1%; */
  border: solid;
  right: 20px;
  margin-top: 30px; 
  /* justify-content: center; */
  justify-content: space-between;

}

.card {
  margin-right: 20px;
}

.barkey {
  border: solid;
}

.CTA {
  top: 30px;
  position: relative;
  margin-left: 90px;
  justify-content: center; 
}


.metric-card__value{
  border: solid;
  font-size: 150px; 
  align-items: center;
  
}

.row3{
  border: solid; 
}

.c1{
  background-image: radial-gradient(circle, #b4f1cd, #eadbf5);
  width: 28rem; 
}

.metric-card__value{
 
  width: 150px;
 bottom: 30px;
  left: 150px;
  position: relative;
}

.barchartbutton{
border: solid; 
float : right;
top: 8px;
position: relative;
border-radius: 10px;

}
/* Media query for screens with a maximum width of 768px (typical for tablets and smartphones) */
@media screen and (max-width: 900px) {
  .row {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .row1 {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .CTA {
    margin-left: 90px; /* Remove left margin on smaller screens */
  }

  .row3{
    flex-direction: column;
  }

  /* Add any additional responsive styles for smaller screens here */
}
