body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ROW STRUCTURE */

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
  justify-content: space-evenly;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-evenly;
}

.row3 {
  flex: 1;
  margin-top: 30px;
}

/* ROW STRUCTURE */

.bar_chart_chart {
  position: relative;
  right: 25px;
}

.barchartbutton {
  float: right;
}

.recharts-legend-item-text {
  color: black !important;
  font-weight: bold !important;
  font-size: 14px;
}

.recharts-default-legend {
  margin-left: 10px;
  position: relative;
  left: 10px;
  top: 8px;
}

/* COHORT PROGRAM WIDGET */

.table-container {
  position: relative;
  width: 100%;
  right: 250px;
}

.content_table {
  border: solid #016669;
  border-collapse: collapse;
  margin-left: 300px;
  width: 38%;
  padding: 15px;
  background-color: #dee9ea;
  align-items: center;
  font-size: 16px;


}

.content_table th {
  padding-bottom: 5px;
  text-align: left;
  background-color: #016669;
  color: white;
  padding-left: 10px;
}

.content_table td {
  border-bottom: solid 3px;
  width: 30%;
  padding-left: 10px;
  padding: 7px;
}

.footer {
  position: relative;
  /* top: 3px; */
  /* left: 300px; */
  width: 37.9%;
  background-color: #016669;
  color: white;
  padding: 5px;
  font-size: 16px;
  /* margin-bottom: 20px; */
}

.content_table tr:hover {
  background-color: white;
}

a.card-link {
  color: black;
}


.clip-board {
  border-radius: 10px;
  margin-left: 10px;
  padding:10px;

}

.clip-board-icon {
  padding-right: 8px;
  left: 5px;
  position: relative;
  
}
/* COHORT PROGRAM WIDGET */




/* METRIC CARDS */

.metric-card__title {
  margin-left: 12px;
  font-size: 16px;
}

.metric-card__icons {
  margin-top: 15px !important;
}

.metric-card__container {
  display: flex;
  margin-top: 59px;
  width: 250px;
  margin-left: 85px;
}

.metric-card__value {
  font-size: 100px;
  bottom: 20px;
  position: relative;
  margin-left: 150px;
}

.matter_btn {
  top: 13px;
  position: relative;
  float: right;
  margin-right: 8px;
}

.helpful_copy_metric {
  font-size: 12px;
  text-align: center;
  color: black;
  margin-top: auto;
}

/* METRIC CARDS */

/*Buttons */

.call_to_action_buttons button {
  margin-bottom: 20px;
  width: 100%;
  max-width: 280px;
  height: 38px;
  border-radius: 10px;
  background-color: #df6d04;
  color: white;
  font-weight: bold;
}

.call_to_action_buttons {
  display: flex;
  flex-direction: column;
  top: 30px;
  position: relative;
  margin-left: 70px;
  justify-content: center;
}

/*Buttons */

/* CARD DESIGNS */
.card-custom {
  width: 26rem;
  border-radius: 20px;
  border: solid #016669 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;

  background: #dee9ea;
}

.card-custom1 {
  border: solid #016669 3px;
  width: 26rem;
  height: 310px;
  border-radius: 12px;
  font-weight: bold;
  background: #dee9ea;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-custom .card-body {
  padding: 15px;
}

.metric_title {
  position: relative;
  top: 13px;
  font-weight: bold;
  margin-left: 10px;
  width: 145px;
  white-space: nowrap;
}

/* CARD DESIGNS */

.rechart- .Line-legend-item {
  border: solid;
  font-size: 14px;
  position: relative;
  top: 16px;
}

.line_chart_container {
  position: relative;
  right: 15px;

  margin-top: 12px;
}

.card-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 35px;
}

.contact_us_title {
  margin-top: 20px;
  text-align: center;
}

.contact_us_icon {
  position: relative;
  font-size: 15px;
  top: 2px;
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .row1 {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .row3 {
    flex-direction: column;
    justify-content: space-evenly;
  }



  .CTA button {
    width: 100%;
    height: 100;
  }
}